<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- {% load static %} -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'wx/weui.min.css' %}" /> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="text-align: center;margin-bottom: 30px;">授权注册</h2>
                    <div class="alert alert-success" role="alert">
                        授权成功<br />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="weui-form">
            <div class="weui-form__text-area">
                <h2 class="weui-form__title">表单结构</h2>
                <div class="weui-form__desc">展示表单页面的信息结构样式, 分别由头部区域/控件区域/提示区域/操作区域和底部信息区域组成。</div>
            </div>
            <div class="weui-form__control-area">
                <div class="weui-cells__group weui-cells__group_form">
                    <div class="weui-cells__title">表单组标题</div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell weui-cell_active">
                            <div class="weui-cell__hd"><label class="weui-label">微信号</label></div>
                            <div class="weui-cell__bd">
                                <input id="js_input" class="weui-input" placeholder="填写本人微信号"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-form__tips-area">
                <p class="weui-form__tips">
                    表单页提示，居中对齐
                </p>
            </div>
            <div class="weui-form__opr-area">
                <a class="weui-btn weui-btn_primary weui-btn_disabled" href="javascript:" id="showTooltips">确定</a>
            </div>
        </div> -->
    </body>
</html>
