<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<modules>
    		<remove name="WebDAVModule" />
  	</modules>
        <handlers>
		<remove name="WebDAV" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="e:\xiaoyao\python38\python.exe|e:\xiaoyao\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    <security>
        <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000000" maxUrl="8000" maxQueryString="5000000"></requestLimits>
        </requestFiltering>
    </security>
    <!--<security>
        <requestFiltering >
        <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
    </security>-->
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="E:\xiaoyao\JSS\STABLE\JSS-django" />
        <add key="DJANGO_SETTINGS_MODULE" value="JSS-django.settings" />
    </appSettings>
    <system.web>
        <httpRuntime executionTimeout="3710" maxRequestLength="2147483647" />
    </system.web>
</configuration>